default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]

repos:
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.46.0
  hooks:
  - id: markdownlint
- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.10.0
  hooks:
    - id: commitizen
      stages: [commit-msg]
